<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/bootstrap.min.css">
	</body>
	<link rel="stylesheet" href="/style.css">
</head>

<body>
	<div class="container">
		<div class="row">

			<div class="col-12">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">

					<div class="collapse navbar-collapse" id="navbarTogglerDemo01">

						<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
							<li class="nav-item">
								<a class="nav-link" href="/">Home</a>
							</li>


							<li class="nav-item">
								<a class="nav-link" href="/subject">Available subjects</a>
							</li>



							<li class="nav-item">
								<a class="nav-link" href="/add_teacher">Add teacher</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/link_teacher">Assign teacher</a>
							</li>


						</ul>

					</div>
				</nav>

			</div>

		</div>
	</div>
	<div class="contaner">
		<div class="row">
			<div class="col-2"></div>
			<div class="col-8">

				<p class="h1">Schools Database Program</p>
			</div>
			<div class="col-2"></div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4">

			</div>
			<div class="col-4"></div>

		</div>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-12">
				<hr>
			</div>



		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-3"></div>



			<div class="col-6">




			</div>







			<div class="col-3"></div>

			<div class="container">

				{{{body}}}



			</div>
		</div>
	</div>


</html>