<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>School Database Program</title>
	<link rel="stylesheet" href="/bootstrap.min.css">
	</body>
	<link rel="stylesheet" href="/style.css">
	<link rel="shortcut icon" type="image/png" href="/Books-icon.png">

	<script src="/jquery.min.js"></script>
	{{!--
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> --}}
</head>

<div class="spacer">
	<div class="alert alert-success" role="alert">
		This is a success alert—check it out!
	</div>

</div>

<body>
	<hr>
	<div class="container">
		<div class="row">

			<div class="col-12">
				<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">

					{{!-- <div class=" navbar-collapse"> --}}
						{{!-- <ul class="navbar-nav "> --}}
							<div class="gap">
								<li class="nav-item">
									<a class="nav-link" href="/">
										<p class="h3">Home</p>
									</a>
								</li>
							</div>

							<div class="gap">
								<li class="nav-item">
									<a class="nav-link" href="/subject">
										<p class="h3"> Subjects</p>
									</a>
								</li>
							</div>


							<div class="gap">
								<li class="nav-item">
									<a class="nav-link" href="/teacher">
										<p class="h3">Teachers</p>
									</a>
								</li>
							</div>



							{{!--
						</ul> --}}

					</div>
				</nav>

			</div>

		</div>
	</div>
	


	<div class="container">
		<div class="row">
			<div class="col-12">
				<hr>
			</div>



		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-3">
			</div>



			<div class="col-6">

				<div class="error  alert-danger" role="alert">
					{{this.emsg}}

				</div>
				<div class="success alert-success" role="alert">
					
					{{this.smsg}}
					
				</div>



			</div>







			<div class="col-3"></div>

			<div class="container">

				{{{body}}}



			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-4"></div>
		<div class="col-4">
			<div class="alert" role="alert">
				<div class="errors">
					{{error}}
				</div>

				<div class="message">
				</div>

</html>

</div>
</div>
<div class="col-4"></div>
</div>

<form action="/reset" method="post">
<input type="submit" value="reset" formmethod="post">
</form>


<script src="/front.js"></script>
<script src="/jquery-3.6.0.js"></script>