<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="bootstrap.min.css">
	</body>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					{{!-- <button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button> --}}
					<div class="collapse navbar-collapse" id="navbarTogglerDemo01">

						<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
							<li class="nav-item">
								<a class="nav-link" href="/">HOME</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="/allShops">ALL SHOPS</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/deals">MAKE DEAL</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="/bestShopDeal">BEST SHOP DEAL</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="/newShop">ADD NEW SHOP</a>
							</li>
						</ul>

					</div>
				</nav>

			</div>
			<div class="col-1"></div>
		</div>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4">
				<h1>Avo App</h1>
			</div>
			<div class="col-4"></div>

		</div>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-12">
				<hr>
			</div>



		</div>
	</div>

	<div class="container">

		{{{body}}}
	</div>


</html>