<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>School Database Program</title>
	<link rel="stylesheet" href="/bootstrap.min.css">
	</body>
	<link rel="stylesheet" href="/style.css">
	<link rel="shortcut icon" type="image/png" href="Books-icon.png">
</head>

<body>
	<div class="container">
		<div class="row">

			<div class="col-12">
				<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">

					{{!-- <div class=" navbar-collapse"> --}}
{{!-- <ul class="navbar-nav "> --}}
						<div class="gap">
								<li class="nav-item">
									<a class="nav-link" href="/">
										<p class="h3">Home</p>
									</a>
								</li>
						</div>

						<div class="gap">
							<li class="nav-item">
								<a class="nav-link" href="/subject">
									<p class="h3"> Subjects</p>
								</a>
							</li>
						</div>


						<div class="gap">
							<li class="nav-item">
								<a class="nav-link" href="/teacher">
									<p class="h3">Teachers</p>
								</a>
							</li>
						</div>



{{!-- </ul> --}}

					</div>
				</nav>

			</div>

		</div>
	</div>
	<div class="contaner">
		<div class="row">
			<div class="col-2"></div>
			<div class="col-8">

				<p class="h1">Schools Database Program</p>
			</div>
			<div class="col-2"></div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4">

			</div>
			<div class="col-4"></div>

		</div>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-12">
				<hr>
			</div>



		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-3"></div>



			<div class="col-6">




			</div>







			<div class="col-3"></div>

			<div class="container">

				{{{body}}}



			</div>
		</div>
	</div>


</html>