<div class="spacer"></div>
<p class="h4" >Register A New Subject To The School</p>
<div class="spacer"></div>
<span>

    <form action="/add_subject" method="post">
    <input type="text" name="sub_name" placeholder="Register Subject" id="">
    <input type="submit" value="submit">
    </form>
</span> 