<body>
    <form action="/add_teacher" method="post">
    <span>

         <h6>Fisrt Name:</h6><input placeholder="First Name" type="text" name="fname" id=""> 
    </span>
    <span> <h6> Last Name:</h6><input placeholder="Last Name" type="text" name="lname" id=""> </span> 

    <span> <h6>Email:</h6> <input type="text" placeholder="email" name="email" id="">  </span>

    <input type="submit" value="submit">
    </form>
</body>