<body>
    <table>
        <tr>
            <th>Available Subjects</th>
            
        </tr>
            {{#each the_sub}}
        <tr>
            
      <td><a href="/subject_taught/{{name}}/">{{name}}</a></td>
        </tr>
            {{/each}}

    </table>
</body>