<body>
    <table>
        <tr>
            <th>sub #id & Sub Name</th>
            
        </tr>
            {{#each the_sub}}
        <tr>
            <td>{{this.find_subjects}}</td>
      
        </tr>
            {{/each}}

    </table>
</body>