<div class="spacer"></div>
<p class="h4">here are the Teachers that teach <b>{{subject}}</b>.</p>
<div class="spacer"></div>

<form action="/subject_taught/{{name}}/" method="get">

    {{#each teach_for_sub}}
    <li>{{first_name}} {{last_name}}</li>
    {{/each}}

</form>

