<table>
    <tr>
        <th>teachers with subject count</th>
    </tr>
    {{#each multi_subs}}
    <tr>
        <td>{{find_teachers_teaching_multiple_subjects}}</td>
    </tr>
    {{/each}}
</table>