<div class="spacer"></div>

<p class="h4">The teachers with multiple subjects</p>
<div class="spacer"></div>
<table>
    <tr>
        <th>First Name & Last Name </th>
        <th>
            Subject Count
        </th>
        <th>Subjetcs for teacher</th>
    </tr>


    {{#each multi_subs}}
    <tr>
        <td> {{first_name}} {{last_name}}</td>

        <td>{{subject_count}}</td>
        {{!-- {{#each multi_subs}} --}}
        <td>
            {{#each subs_by_name}}
            {{name}}
            {{/each}}
        </td>

        {{!-- {{/each}} --}}
    </tr>

    {{/each}}
</table>