<body>

    <p class="h3">The current teachers in our database</p>
    <div class="row">
        <div class="col-12"><hr></div>
        </div>
    
    <form class="form-floating" action="/teacher" method="post">

        <div class="row">
            <div class="col-4">
                <hr>
                <p class="h6"> Register a teacher to the school.</p>
                <div class="mb-1">
                    <label for="fname" class="form-label">First Name</label>
                    <input class="form-control" name="fname" type="text" id="fname" placeholder="First Name"
                        autocapitalize="words" aria-label="fname" required>
                </div>

                <div class="mb-1">
                    <label for="lname" class="form-label">Last Name</label>
                    <input class="form-control" autocapitalize="words" name="lname" id="lname" name="lname" type="text"
                        placeholder="Last Name" aria-label="last Name" required>
                </div>

                <div class="mb-1">
                    <label for="email">Email</label>
                    <input name="email" class="form-control" id="email" type="text" placeholder="Email"
                        aria-label="email" required>
                </div>

                <input type="submit" class="btn btn-primary" value="submit">

            </div>
            <div class="col-1"> </div>
            <div class="col-7">
                <hr>
                <p class="h6">The teachers we have in our school.</p>
                <table class="table table-light">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                    {{#each teachers}}
                    <tr>
                        <td><a href="/teacher_taught/{{id}}">
                               {{first_name}} </a></td>
                        <td><a href="/teacher_taught/{{id}}"> {{last_name}} </a></td>


                    </tr>
                    {{/each}}

                </table>


            </div>


        </div>

        <div class="spacer"></div>
       
            </div>
        </div>




    </form>




</body>