body {
	background-color:#5a1c66;
	color: whitesmoke;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
	/* text-align: center; */
	margin: auto;
	width: 80%;
}

.spacer{
	height: 25px;
}

table{
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

td, th {
	border: 1px solid #999;
	padding: 0.5rem;
	text-align: left;
	}


.nav-item{
	margin-left: auto;
	margin-right: auto;
}

p{
	text-align: center;
}
.whiten{
	border-style: solid 5px;
	border: #5a1c66;
	background-color: rgb(255, 255, 255);
	color: black;
	
}
.gap{
	width: 33.3%;
}